<div class="wrapper">
    <div class="">
      <div class="content d-flex ">
          <div class="col-lg-6 col-md-12 mx-auto">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Tabela de Montagems</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive mx-auto">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Drones ID
                        </th>
                        <th>
                          Montagems
                        </th>
                        <th>
                          Ultima Data
                        </th>
                        <th class="text-center">
                          Costo Total
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                            Dji mini 2
                        </td>
                        <td>
                            30
                        </td>
                        <td>
                            11/02/2024
                        </td>
                        <td class="text-center">
                          $30.103,08
                        </td>
                      </tr>
                      <tr>
                        <td>
                            Dji mini 4
                        </td>
                        <td>
                            19
                        </td>
                        <td>
                            22/02/2024
                        </td>
                        <td class="text-center">
                          $50.123,00
                        </td>
                      </tr>
                      <tr>
                        <td>
                            Dji Mavic Pro
                        </td>
                        <td>
                            19
                        </td>
                        <td>
                            28/02/2024
                        </td>
                        <td class="text-center">
                          $10.073,08
                        </td>
                      </tr>
                      <tr>
                        <td>
                            Ronin
                        </td>
                        <td>
                            42
                        </td>
                        <td>
                            10/02/2024
                        </td>
                        <td class="text-center">
                          $327.073,08
                        </td>
                      </tr>
                      <tr>
                        <td>
                            Dji Air 2S
                        </td>
                        <td>
                            40
                        </td>
                        <td>
                            20/02/2024
                        </td>
                        <td class="text-center">
                          $520.173,80
                        </td>
                      </tr>
                      <tr>
                        <td>
                            Osmo Mobile
                        </td>
                        <td>
                            16
                        </td>
                        <td>
                            27/02/2024
                        </td>
                        <td class="text-center">
                          $170.103,02
                        </td>
                      </tr>
                      <tr>
                        <td>
                        Osmo Pocket
                        </td>
                        <td>
                          70
                        </td>
                        <td>
                            18/02/2024
                        </td>
                        <td class="text-center">
                          $830.789,08
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>