<title>SkyTech Sign Up</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

        <link rel="stylesheet" href="register.css">
<body>
    
    <div class="row">
        
        <h1 style="text-align:center">SkyTech</h1>
        <h2 style="text-align: center">Sign Up</h2>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="firstname" placeholder="Firstname" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastname" placeholder="Lastname" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="abc@xyz.com" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="avatar" placeholder="Avatar image url" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="adminCode" placeholder="Admin Code" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
            </form>
            <a href="/">Go Back</a>
        </div>
</div>
</body>